@use '../config/variables' as variable;

// ---------------------------------------------------------
// Wrap
// Wrap and align content with padding.
// ---------------------------------------------------------

@if variable.$output-layouts == 'true' {
  .#{variable.$layouts-namespace}wrap {
    --width: calc(100% - var(--padding));
    --max-width: #{variable.$wrap-max-width};
    --padding: #{variable.$wrap-padding};

    width: var(--width);
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
  }
}
